.header{
    //* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; *//
    grid-template: 1 / repeat(10, 1fr);
    border: 2px black;
    height: 100px;
    width: auto;
    z-index: 5;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   font-size: 14px;
    font-weight: bold;
    color: black;
}
.header.nav {
   //* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; *//
    grid-area: auto;
    margin: 10px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;  
}
.header.nav > div {
    grid-area: 1 / 4 / 1 / 8;
    margin: 10px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
